/* Here goes the root in where you usually declare variables */

/* This part targets all the elements in the document */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* This targets the body of the document */
body{
    background-color: #0f172a;
    color: #bdc1c6;
    /* padding: 24px; */
    min-height: 100vh;
    /* This centers the letters or images or objects in the block (division,section,part) they are placed */
    display: flex; 
    flex-direction: column;
    gap: 14px; /*This separation is a standard value, you should create a variable or something like that*/
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

/* Don't confuse this with the head, the header is what shows at the top of the document */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

header section img {
    max-width: 60px;
    border-radius: 50%;
    border: 2px solid cyan;
}

/* Sections are just another way to divide the page, like divs, but unlike them sections tell you that it is a section like a section of an article */
nav,section {
    display: flex;
    align-items: center;
    gap: 14px;
}

/* Just adds color to the navigation links */
.whiteLink {
    color: white;
}

.greyLink {
    color: lightgray;
}

/* Removes the underline from the text, underline = text-decoration */
a {
    text-decoration: unset;
    font-size: 1.1em;
}

/* When the mouse hovers on the anchor texts, they get underlined */
a:hover {
    text-decoration: underline;
}

main {
    flex: 1; /*This parameter only works if the parent has a flex defined, and it tells the child to take as much space as possible*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 14px;
}

.GoogleText {
    font-size: 8em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.SearchBar {
    display: flex;
    /*For a responsive design which is the bomb this days, use relative units, in this examlpe I set this to occupy 100% of the width of the page
    and a maximum of 800px because I don't want it to be streching infinitely*/
    width: 100%;
    max-width: 700px;
    margin: 0 auto; /*Adjusts each side so they are matching therefore centering it*/
    /* Vertical spacing, Horizontal spacing */
    gap: 14px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 24px; /*Used to round the edges of the border*/

}

/* Hover handler LOl for the search bar, those java lessons kind of helped */
.SearchBar:hover {
    border-color: transparent;
    background: #334155;
}

/* Here we customize the style of the input because it comes with a lot of default stuff */
input {
    background: transparent;
    outline: none;
    border: unset;
    color: white;
    flex: 1;
}

.SearchButtonsContainer {
    display: flex;
    align-items: center;
    gap: 14px;
}

.IconButtonContainer {
    display: flex;
    align-items: center;
    gap: 14px;
}

.IconButton {
 background: transparent;
 border: none;   
 color: white;
 font-size: 1.2em;
 cursor: pointer;

}

.SearchButtonsContainer button {
    padding: 10px 14px;
    border-radius: 4px;
    background: #334155;
    border: 1px solid transparent; /*We need to add the border so that when the hover handler happens then the elements don't get moved around*/
    color: white;
    cursor: pointer;
}

.SearchButtonsContainer button:hover {
    border: 1px solid darkgray;
}

.LanguageSelection {
    font-size: 0.9em;
}

.LanguageSelection span{
    color: blue;
}

footer {
    display: flex;
    flex-direction: column;

}

footer > section {
    padding: 14px;
}

footer > section:last-child {
    border-top: 1px solid darkgray;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.FooterLink {
    display: flex;
    align-items: center;
    gap: 14px;
}

.FooterLink a {
    cursor: pointer;
}

@media screen and (max-width: 540px){
    footer > section:last-child {
        flex-direction: column;
    }
}
